<form #buscarForm="ngForm" (change)="buscar()" productos>
<div id="barra-busqueda">
    <img src="./../../../assets/icons/lupa.svg" alt="Lupa">
    <input type="text" name="texto" [(ngModel)]="parametrosBusqueda.texto" #texto="ngModel">
</div>
<div id="filtros-container">
    <div class="apto-container">
        <img src="./../../../assets/icons/vegetariano.png" alt="Apto Vegetariano">
        <input type="checkbox" name="vegetariano" id="vegetariano" 
        [(ngModel)]="parametrosBusqueda.aptoVegetariano" #vegetariano="ngModel">
        <span>Vegetariano</span>
    </div>
    <div class="apto-container">
        <img src="./../../../assets/icons/vegana1.jpg" alt="Apto Vegano">
        <input type="checkbox" name="vegano" id="vegano" 
        [(ngModel)]="parametrosBusqueda.aptoVegano" #vegano="ngModel">
        <span>Vegano</span>
    </div>
</div> 
</form>
<div id="contenedor-productos">
    <app-tarjeta-producto 
        *ngFor="let producto of productos"
        [producto]="producto">
    </app-tarjeta-producto>
</div>
